// CARDS MOBILE

@media (min-width: 200px) and (max-width: 1199px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin: 15px 0;
    }

    .index-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;

        background-image: url(../img/death-stranding.jpg);
        background-size: cover;
        background-position: center;
        width: 70%;
        height: 27rem;
        border-radius: 15px;
        overflow: hidden;
    }

    .card-title {
        font-size: 1.5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 45%;
        padding: 1em;
        color: white;
        overflow: hidden;
    }

    .index-card-desktop {
        display: none;
    }

    // CARDS DE PAGINAS

    .pages-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;

        background-image: url(../img/death-stranding.jpg);
        background-size: cover;
        background-position: center;
        width: 70%;
        height: 27rem;
        border-radius: 15px;
        overflow: hidden;
    }

    .pages-card-half-top,
    .pages-card-half-bottom {
        display: none;
    }

    .nosotros__card {
        height: 350px;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 7px 7px 0 black;

        .nosotros__card-imagen {
            height: 50%;
            object-fit: cover;
        }

        .nosotros__card-texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $fondo-destacado;
            color: white;
            height: 50%;
            border: 1px black solid;
            padding: 1em;

            h3 {
                margin-bottom: 0.7em;
            }
        }
    }

}


// ------------------------- CARDS DESKTOP ----------------------------- //



@media (min-width: 1200px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }

    .index-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;

        background-image: url(../img/death-stranding.jpg);
        background-size: cover;
        background-position: center;
        width: 30%;
        height: 25rem;
        border-radius: 15px;
        overflow: hidden;
    }

    .card-title {
        font-size: 1.5rem;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 38%, rgba(121, 9, 9, 0) 100%);
        width: 100%;
        height: 45%;
        padding: 1em;
        color: white;
        overflow: hidden;
    }

    .index__card-3 {
        background-image: url(../img/alonso-taylor.webp);
    }

    .index__card-2 {
        background-image: url(../img/poster-indiana-jones.png);
    }

    .nosotros__card {
        height: 350px;
        width: 20%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 7px 7px 0 black;

        .nosotros__card-imagen {
            height: 50%;
            object-fit: cover;
        }

        .nosotros__card-texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $fondo-destacado;
            color: white;
            height: 50%;
            border: 1px black solid;
            padding: 1em;

            h3 {
                margin-bottom: 0.7em;
            }
        }
    }

}