.juegos-card {
    background-image: url(../img/death-stranding.jpg);
}

.juegos-card-top{
    background-image: url(../img/zelda-tears-of-the-kingdom.webp);
}

.juegos-card-bottom{
    background-image: url(../img/star-wars-jedi-survivor.webp);

}