.musica-card {
    background-image: url(/img/alonso-taylor.webp);
}

.musica-card-top{
    background-image:url(/img/rush.jpg) ;
}

.musica-card-bottom{
    background-image: url(/img/casiopea.jpg);
}