.nosotros__equipo {
    padding: 1em;
}

.nosotros__historia {
    padding: 1em;
}

.nosotros__btn {
    text-align: center;
    margin: 2em 0;
}

.nosotros__btn-unite {
    width: 40%;
    height: 50px;
    background-color: $fondo-destacado;
    color: white;
    font-family: "roboto", "sans-serif";
    font-size: x-large;
    border: 2px black solid;
    border-radius: 30px;

    &:hover {
        scale: 1.05;
        font-weight: bolder;
    }
}

@media (min-width: 200px) and (max-width:767px) {
    .nosotros__div-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .nosotros__historia {

        img {
            display: none;
        }

        .nosotros__historia-texto {
            display: flex;
            flex-direction: column;
        }
    }
}


@media (min-width: 768px) and (max-width: 1199px) {

    .nosotros__div-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .nosotros__historia {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        align-items: center;

        img {
            width: 100%;
            object-fit: cover;
            height: 300px;
        }

        .nosotros__historia-texto {
            display: flex;
            flex-direction: column;
            height: 100%;
            order: 1;
        }
    }
}


@media (min-width: 1200px) {
    .nosotros__div-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nosotros__historia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        align-items: center;

        img {
            width: 100%;
            object-fit: cover;
            height: 350px;
        }

        .nosotros__historia-texto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
        }
    }


}