.peliculas-card {
    background-image: url(../img/cage.png);
}

.peliculas-card-top{
    background-image: url(../img/bullettrain.jpg);
}

.peliculas-card-bottom{
    background-image: url(../img/poster-indiana-jones.png);
}